.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: rgb(38, 0, 255);
    cursor: inherit;
    display: block;
}

html {
	height: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100%;
	border-top: 3px solid #f04e23;
	background: white;
	background-size:cover;
	margin: 0;
	line-height: 20px;
}

body,button,input,select,optgroup,textarea {
	color: #444;
	font-size: 14px;
	font-family: Tahoma, sans-serif
}

small {
	font-size: 12px
}

p,ul,ol,dl,menu,table,blockquote,pre {
	margin: 20px 0 0
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
    font-family: 'max pro demi bold', Tahoma, sans-serif;
}

dt,th,b,strong {
    font-weight: bold;
}

i,em {
	font-style: italic
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary
	{
	display: block
}

audio,canvas,video {
	display: inline-block;
	display: inline;
	zoom: 1
}

audio:not [controls]{
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

h1 {
	margin: 0;
	font-size: 32px;
	line-height: 40px
}

h2,h3,h4,h5,h6 {
	margin: 30px 0 0
}

h2 {
	font-size: 18px;
	line-height: 24px
}

h3,h4,h5,h6 {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase
}

ol,ul {
	margin-left: 40px;
	padding: 0
}

dd {
	margin: 0
}

ul {
	list-style-type: disc
}

ul ul {
	list-style-type: circle
}

ol {
	list-style-type: decimal
}

ol ol {
	list-style-type: lower-alpha
}

ol ol ol {
	list-style-type: lower-roman
}

ol ol,ol ul,ul ol,ul ul {
	margin-top: 0
}

nav ul,nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none
}

a {
	color: #f04e23;
	text-decoration: none
}

a:focus {
	outline: thin dotted
}

a:hover,a:focus {
	text-decoration: underline
}

a:hover,a:active {
	outline: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th,td {
	padding: 0;
	text-align: left;
	vertical-align: top
}

dfn[title],abbr[title] {
	border-bottom: 1px dotted;
	cursor: help
}

mark {
	background: #ff0;
	color: #000
}

sub,sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

address {
	font-style: normal
}

ins {
	background: #ff9;
	text-decoration: none
}

del {
	text-decoration: line-through
}

q {
	quotes: none
}

q:before,q:after {
	content: "";
	content: none
}

blockquote {
	margin-left: 20px;
	padding-left: 19px;
	border-left: 1px solid #d8d7d8
}

pre,code,kbd,samp {
	font-family: Menlo, Consolas, Monaco, "Courier New", monospace, serif
}

pre {
	padding: 1em;
	border: 1px solid #d8d7d8;
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic
}

svg:not (:root ){
	overflow: hidden
}

form,figure {
	margin: 0
}

fieldset {
	border: solid #d8d7d8;
	border-width: 1px 0;
	padding: 20px 0
}

fieldset+fieldset {
	border-top-width: 0
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

.left {
	text-align: left !important
}

.right {
	text-align: right !important
}

.center {
	text-align: center !important
}

.middle {
	vertical-align: middle !important
}

.hidden {
	display: none !important
}

.nowrap {
	white-space: nowrap !important
}

.clear:before,.clear:after {
	content: " ";
	display: table
}

.clear:after {
	clear: both
}

.clear {
	*zoom: 1
}

.sep {
	margin: 0 .25em;
	color: #a7a7a7
}

.hr {
	height: 1px;
	overflow: hidden;
	margin: 20px 0;
	border: none;
	background: #d8d7d8
}

.hr hr {
	display: none
}

.blockOverlay {
	background: #f3f2f3 !important;
	opacity: .8 !important;
	cursor: not-allowed !important
}

.cancel-login {
	float: right;
	margin-top: 1em;
	padding-left: 1em;
}

.cancel-login .button {
	font-weight: bold
}

.text-link {
	display: inline-block;
	vertical-align: top;
	text-decoration: none !important
}

.text-link:hover .text-link-label,.text-link:focus .text-link-label {
	text-decoration: underline
}

.text-group {
	display: block
}

.text-inline-group {
	display: inline-block;
	white-space: nowrap
}

.text-big {
	font-size: 2em
}

.text-orange {
	color: #f04e23
}

.text-muted {
	color: #808080
}

input,select,button,textarea {
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]
	{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d8d7d8;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
	vertical-align: top;
	-webkit-transition: background-color .15s ease, border-color .15s ease,
		-webkit-box-shadow .15s ease;
	-moz-transition: background-color .15s ease, border-color .15s ease,
		-moz-box-shadow .15s ease;
	-o-transition: background-color .15s ease, border-color .15s ease,
		-o-box-shadow .15s ease;
	transition: background-color .15s ease, border-color .15s ease,
		box-shadow .15s ease
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]
	{
	padding: 4px
}

input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]
	{
	height: 30px;
	line-height: 20px
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

select,input[type="file"] {
	height: 30px
}

select {
	line-height: 20px
}

select[size],select[multiple] {
	height: auto
}

optgroup {
	font-style: normal;
	font-weight: bold
}

select:hover,textarea:hover,input[type="text"]:hover,input[type="password"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="date"]:hover,input[type="month"]:hover,input[type="time"]:hover,input[type="week"]:hover,input[type="number"]:hover,input[type="email"]:hover,input[type="url"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="color"]:hover
	{
	border-color: #bfbdbf
}

select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus
	{
	border-color: #f37121;
	outline: 0;
	-webkit-box-shadow: 0 0 2px 2px rgba(243, 113, 33, 0.5);
	-moz-box-shadow: 0 0 2px 2px rgba(243, 113, 33, 0.5);
	box-shadow: 0 0 2px 2px rgba(243, 113, 33, 0.5)
}

button,label[for],.options label,input[type="image"],input[type="reset"],input[type="button"],input[type="submit"],input[type="radio"],input[type="checkbox"]
	{
	cursor: pointer
}

input[readonly],textarea[readonly] {
	background-color: #f8f8f8 !important
}

input[disabled],button[disabled],select[disabled],textarea[disabled],input[type="radio"][disabled]+label,input[type="checkbox"][disabled]+label
	{
	cursor: default !important
}

select[disabled],textarea[disabled],input[type="text"][disabled],input[type="password"][disabled],input[type="datetime"][disabled],input[type="datetime-local"][disabled],input[type="date"][disabled],input[type="month"][disabled],input[type="time"][disabled],input[type="week"][disabled],input[type="number"][disabled],input[type="email"][disabled],input[type="url"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="color"][disabled]
	{
	background-color: #f8f8f8 !important;
	outline: none !important;
	color: #999;
	text-shadow: 0 1px 0 #fff
}

input[type="radio"],input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: none
}

option.label,input.placeholder,textarea.placeholder {
	color: #999 !important
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999
}

input:-moz-placeholder,textarea:-moz-placeholder {
	color: #999
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #999;
	opacity: 1
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999
}

input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"]
	{
	width: 170px;
	-webkit-appearance: none
}

label.error {
	color: #e20077;
	font-weight: bold
}

div.error {
    color: #e20077;
    font-weight: bold
}

input.error,select.error,textarea.error {
	border-color: #e20077 !important;
	-webkit-box-shadow: 0 0 0 1px #e20077 !important;
	-moz-box-shadow: 0 0 0 1px #e20077 !important;
	box-shadow: 0 0 0 1px #e20077 !important
}

input.error:focus,select.error:focus,textarea.error:focus {
	background-color: #fff !important
}

.button {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	padding: 5px 1em;
	border: 0;
	border-radius: 2px;
	background: #f04e23;
	color: #fff !important;
	font-size: 12px;
	line-height: 20px !important;
	font-weight: bold;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	outline: none;
	vertical-align: top
}

a.button {
	white-space: nowrap !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

input.button {
	width: auto;
	overflow: visible
}

.button:hover,.button:focus {
	background: #f26039
}

.button:active {
	background: #c03e1c
}

.button-alt {
	background: #808080
}

.button-alt:hover,.button-alt:focus {
	background: #8d8d8d
}

.button-alt:active {
	background: #666
}

.button-swed,.button-seb,.button-danske,.button-nordea {
	min-width: 170px
}

.button-swed {
	background: #ff6803
}

.button-swed:hover,.button-swed:focus {
	background: #ff7f29
}

.button-swed:active {
	background: #e65e03
}

.button-seb {
	background: #4aaa1a
}

.button-seb:hover,.button-seb:focus {
	background: #65b73c
}

.button-seb:active {
	background: #3f9116
}

.button-danske {
	background: #034362
}

.button-danske:hover,.button-danske:focus {
	background: #1c5672
}

.button-danske:active {
	background: #02364e
}

.button-nordea {
	background: #036aa0
}

.button-nordea:hover,.button-nordea:focus {
	background: #1c79aa
}

.button-nordea:active {
	background: #025580
}

.button-disabled {
	background: #e1e1e1 !important;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
	cursor: default
}

.button-link {
	padding-left: 0;
	padding-right: 0;
	background: none !important;
	color: #f04e23 !important;
	font-size: 14px;
	font-weight: normal;
	text-transform: none
}

.button-link:hover,.button-link:focus {
	text-decoration: underline !important
}

.button-small.button-link {
	font-size: 13px
}

.loginform {
	border-bottom: 1px solid #e1e1e1
}

.loginform-group {
	padding: 20px 0 30px 170px;
	border-top: 1px solid #e1e1e1
}

.loginform-group h2 {
	float: left;
	width: 130px;
	margin: 15px 0 0 -150px;
	font-size: 14px;
	line-height: 20px
}

.loginform-group input,.loginform-group .button {
	float: left;
	margin: 10px 10px 0 0
}

.loginform-sub {
	padding: 10px 20px 30px;
	border-top: 1px solid #e1e1e1
}

.loginform-code-wrap {
	text-align: center
}

.loginform-code {
	display: block;
	padding-top: .5em;
	color: #f04e23;
	font-size: 3em;
	line-height: 1;
	font-weight: 300
}


#wrap {
	width: 940px
}

#aside,#content {
	position: absolute;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100%;
	padding: 72px 36px
}

#aside {
	position: fixed;
	left: 0;
	z-index: 3;
	width: 280px;
	background: #f04e23;
	color: #fff
}

#aside h1 {
	font-size: 28px;
	line-height: 38px;
	font-weight: 300
}

#content {
	left: 280px;
	z-index: 2;
	width: 660px;
	border-top: 3px solid #f04e23;
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.grid-row {
	margin-left: -18px;
	margin-right: -18px
}

.grid-row>.grid-1-2,.grid-row>.grid-1-3,.grid-row>.grid-1-4,.grid-row>.grid-2-3,.grid-row>.grid-2-4,.grid-row>.grid-3-4
	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 18px
}

.grid-1-2,.grid-2-4 {
	width: 50%
}

.grid-1-4 {
	width: 25%
}

.grid-1-3 {
	width: 33.3333%
}

.grid-2-3 {
	width: 66.6667%
}

.grid-3-4 {
	width: 75%
}


@media ( min-width :1921px) , ( min-height :1201px) {
	body {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover
	}
}

@media ( max-width :939px) {
	#wrap {
		width: 768px
	}
	#content {
		width: 488px
	}
	.loginform .button {
		display: block;
		min-width: 170px
	}
}

@media ( max-width :767px) {
	#wrap {
		width: 600px
	}
	#content {
		width: 320px
	}
	.loginform-group {
		padding: 10px 20px 20px
	}
	.loginform-group h2 {
		float: none;
		width: auto;
		margin: 10px 0 0
	}
	.loginform .button,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"]
		{
		width: 100%;
		min-width: 0
	}
	.loginform-code-wrap {
		text-align: left
	}
	.grid-row {
		margin: 0
	}
	.grid-row>.grid-1-2,.grid-row>.grid-1-3,.grid-row>.grid-1-4,.grid-row>.grid-2-3,.grid-row>.grid-2-4,.grid-row>.grid-3-4
		{
		float: none;
		width: auto;
		padding: 0
	}
}

@media ( max-width :599px) {
	html {
		height: auto
	}
	body {
		min-height: 0;
		border: 0;
		background: #fff
	}
	#wrap,#aside,#content {
		width: auto
	}
	#aside,#content {
		position: static;
		top: auto;
		left: auto;
		padding: 20px
	}
	#aside {
		padding-left: 40px;
		padding-right: 40px
	}
	#aside h1 {
		font-size: 24px;
		line-height: 30px;
		font-weight: 300
	}
	#content {
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none
	}
}


