
/* Links */
a {
	color: #3d3d3d;
	text-decoration: none
}

/* Input error and required fields*/
.input-error {
	color: red;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #d23d09;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d23d09 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Loginform */
.loginform-group h2 {
	float: left;
	width: 130px;
	margin: 5px 0 0 -150px;
	font-size: 14px;
	line-height: 20px
}

.loginform-group input,.loginform-group .button {
	float: center;
	margin: 0 5px 0 0
}

/* input type numeric */
select,textarea,input[type="numeric"]
	{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d8d7d8;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
	/* vertical-align: top;*/
	-webkit-transition: background-color .15s ease, border-color .15s ease,
		-webkit-box-shadow .15s ease;
	-moz-transition: background-color .15s ease, border-color .15s ease,
		-moz-box-shadow .15s ease;
	-o-transition: background-color .15s ease, border-color .15s ease,
		-o-box-shadow .15s ease;
	transition: background-color .15s ease, border-color .15s ease,
		box-shadow .15s ease
}

select,textarea,input[type="numeric"]
	{
	padding: 4px
}

input[type="numeric"]
	{
	height: 30px;
	line-height: 20px
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

select,input[type="file"] {
	height: 30px
}

select {
	line-height: 20px
}

select[size],select[multiple] {
	height: auto
}

optgroup {
	font-style: normal;
	font-weight: bold
}

select:hover,textarea:hover,input[type="numeric"]:hover
	{
	border-color: #bfbdbf
}

select:focus,textarea:focus,input[type="numeric"]:focus
	{
	border-color: #f37121;
	outline: 0;
	-webkit-box-shadow: 0 0 2px 2px rgba(243, 113, 33, 0.5);
	-moz-box-shadow: 0 0 2px 2px rgba(243, 113, 33, 0.5);
	box-shadow: 0 0 2px 2px rgba(243, 113, 33, 0.5)
}

button,label[for],.options label,input[type="image"],input[type="reset"],input[type="button"],input[type="submit"],input[type="radio"],input[type="checkbox"]
	{
	cursor: pointer
}

input[readonly],textarea[readonly] {
	background-color: #f8f8f8 !important
}

input[disabled],button[disabled],select[disabled],textarea[disabled],input[type="radio"][disabled]+label,input[type="checkbox"][disabled]+label
	{
	cursor: default !important
}

select[disabled],textarea[disabled],input[type="numeric"][disabled]
	{
	background-color: #f8f8f8 !important;
	outline: none !important;
	color: #999;
	text-shadow: 0 1px 0 #fff
}

input[type="radio"],input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	height: 13px;
	width: 13px
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: none
}

option.label,input.placeholder,textarea.placeholder {
	color: #999 !important
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999
}

input:-moz-placeholder,textarea:-moz-placeholder {
	color: #999
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #999;
	opacity: 1
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999
}

input[type="numeric"]
	{
	width: 170px;
	-webkit-appearance: none
}

/* Language menu dropdown */
.language{
  height: 20px;
  margin: 5px 0;
}

/* Header */
.white{
  color: white;
}

.header, .header-logo img {
  height: 80px;
}

.header-logo img {
  margin-left: 20px;
}

.title-column {
  position: relative;
  margin-top:0.5em;
}

.omniva-red-background {
  background-color: #f04e23;
}

.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 80px solid white;
  border-right: 80px solid transparent;
}

.header h3 {
  padding: 0 20px;
}

.header h3, .header i {
  padding: 0;
  margin: 0;
}

.header-title {
  padding-right: 1em;
}

/* Content */
.padding-from-header {
  padding-top: 40px;
}

.justify-text {
  text-align: justify;
}

.button-space {
  margin-bottom: 0.5em;
}

.link {
  color: #f04e23;
}

/* Omniva loading animation begin */
@keyframes lds-omniva_1 {
  0% {
    top: 36px;
    height: 128px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@-webkit-keyframes lds-omniva_1 {
  0% {
    top: 36px;
    height: 128px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@keyframes lds-omniva_2 {
  0% {
    top: 41.99999999999999px;
    height: 116.00000000000001px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@-webkit-keyframes lds-omniva_2 {
  0% {
    top: 41.99999999999999px;
    height: 116.00000000000001px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@keyframes lds-omniva_3 {
  0% {
    top: 48px;
    height: 104px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@-webkit-keyframes lds-omniva_3 {
  0% {
    top: 48px;
    height: 104px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
.lds-omniva {
  position: relative;
}
.lds-omniva div {
  position: absolute;
  width: 30px;
}
.lds-omniva div:nth-child(1) {
  left: 35px;
  background: #ff6319;
  -webkit-animation: lds-omniva_1 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-omniva_1 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-omniva div:nth-child(2) {
  left: 85px;
  background: #d23d09;
  -webkit-animation: lds-omniva_2 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-omniva_2 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-omniva div:nth-child(3) {
  left: 135px;
  background: #dd4818;
  -webkit-animation: lds-omniva_3 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-omniva_3 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-omniva {
  margin-left: 26%;
  /*width: 100px !important;*/
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}
/* Omniva loading animation end */